.sup_title{
    font-weight: bold;
}
.notfound_message {
    color: red;
}
.aqar_image_circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px
}
ngx-datatable {
    overflow: visible
}